 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
}


#start-screen, #quiz-container, #result {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* Botones */
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Temporizador */
#s-tiempo {
    font-weight: bold;
    color: red;
}

/* Resultados */
#result-message {
    font-size: 18px;
    color: #444;
}

#result-time {
    font-size: 16px;
    color: #777;
}
